<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maibo.lvyongsheng.xianhui"
  >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="闲惠企业版"
        android:name="com.maibo.lvyongsheng.xianhui.App"
        android:theme="@style/XianHuiTheme"
        tools:replace="android:icon,android:theme,android:label">

        <activity
            android:name="com.maibo.lvyongsheng.xianhui.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.maibo.lvyongsheng.xianhui.LoginActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.WelcomeGuideActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.HelperActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.DayTabActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ItemDetailActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.PlanWorkActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ProjectPlanActivity" />
        <activity android:name="com.maibo.lvyongsheng.xianhui.AddProjectActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.AddTabActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.AddProductActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ListDetailActivity"/>
        <activity android:name=".SearchPeopleActivity"/>
        <activity android:name=".MyCaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".StartProjectActivity"/>
        <activity android:name=".CreateGroupChatActivity"/>
        <!--<activity android:name=".ConversationListFragment"-->
            <!--android:launchMode="singleTop"/>-->
        <!--<activity android:name=".ContactPersonFragment"-->
            <!--android:launchMode="singleTop"/>-->
        <!--<activity android:name=".SettingFragment"-->
            <!--android:launchMode="singleTop"/>-->

        <activity android:name="com.maibo.lvyongsheng.xianhui.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="cn.leancloud.chatkit.chat_notification_action"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.maibo.lvyongsheng.xianhui.IdentifyActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.IDNumberActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.RemindActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.AgentActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.WorkActivity" />
        <activity android:name="com.maibo.lvyongsheng.xianhui.MaxSettingActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.DetailMessageActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.PeopleMessageActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.CustomerDetailsActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.AllMessageActivity"/>
        <service android:name="com.avos.avoscloud.PushService" />
        <activity android:name="com.maibo.lvyongsheng.xianhui.ProjectMessageActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.OrderActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ProductMessageActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.CustomerManagerActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.AAAATestActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ChooseActivity"
            android:theme="@style/MyDialogActivityRight"
            />
        <activity android:name="com.maibo.lvyongsheng.xianhui.ReservationInformationActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.CustomerConsumeActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.UpdataPasswordActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.QuitPCActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.ClipPictureActivity"/>
        <activity android:name="com.maibo.lvyongsheng.xianhui.MySelfInformationActivity"/>
        <activity android:name=".TaskActivity"/>
        <activity android:name=".NewBuildTaskActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".TaskChooseDetailActivity"/>
        <activity android:name=".TaskProgressDetailActivity"/>
        <activity android:name=".TaskPeopleDetailActivity"/>
        <activity android:name=".SearchWorkActivity"/>
        <activity android:name=".NewHandRemindActivity"/>
        <activity android:name=".selectDataActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".FeedbackProblemActivity"/>
        <activity android:name=".IntrduceAppActivity"/>
        <activity android:name=".FunctionIntrduceActivity"/>
        <activity android:name=".SystemNotificationActivity"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        //下面这个Activity用于接收到聊天推送后跳转所用，目前Leancloud正在完善。
        <!--<activity android:name="cn.leancloud.chatkit.activity.LCIMConversationActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="cn.leancloud.chatkit.chat_notification_action"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<receiver android:name="com.maibo.lvyongsheng.xianhui.receiver.MyCustomReceiver"  android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="com.avos.UPDATE_STATUS" />-->
                <!--<action android:name="com.lys.receiver"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--<supports-screens-->
            <!--android:smallScreens="true"-->
            <!--android:normalScreens="true"-->
            <!--android:largeScreens="true"-->
            <!--android:resizeable="true"-->
            <!--android:anyDensity="true" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
